<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Читай</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/for_read.css">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<body>
    <% include ../templates/navigation.ejs %>

    <header>Читай <i class="fas fa-book-open"></i></header>

    <main id="readBack">
        <div id="for_reading">
            <div id="textplace">
                <pre id="text"><%= text %></pre>
            </div>
        </div>
    </main>

    <script src="js/javascript.js"></script>
</body>
</html>