<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Читай</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/for_read.css">
    <link rel="stylesheet" href="css/for_settings.css">


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="#" id="read" onclick="openRead()"><i class="fas fa-book-open"></i></a>
        <a href="/upload" id="upload"><i class="fas fa-upload"></i></a>
        <a href="#" id="cogs" onclick="openCogs()"><i class="fas fa-cogs"></i></a>
    </div>

    <main id="readBack">
        <header>Читай <i class="fas fa-book-open"></i></header>

        <!-- <div id="forReading"> -->
            <div id="textplace">
                <p id="text"><%= text %></p>
            </div>
        <!-- </div> -->
    </main>

    <% include ./settings.ejs %>

    <script src="js/for_read.js"></script>
    <script src="js/javascript.js"></script>
    
</body>
</html>