<main id="settings">

    <header>Настрой <i class="fas fa-cogs"></i></header>

    <div id="forSettings">
        <div class="cogs">
            <!-- <span id="bookOrScroll" class="part">
                <i class="fas fa-book-open"></i>
                <div class="space"></div>
                <div id="line"></div>
                <div class="space"></div>
                <i class="fas fa-scroll"></i>
                <p id="formatWord" class="word">Формат</p>
            </span>

            <hr> -->

            <span id="fontFamily" class="part">
                <i id="fontCh" class="fas fa-font" onclick="fontFamilyClicked()"></i> 
                <p id="fontWord" class="word">Шрифт</p>
            </span>
            
            <hr />

            <span id="backgroundColor" class="part">
                <span class="back" id="white" onclick="whiteClicked()"></span>
                <span class="back" id="wheat" onclick="wheatClicked()"></span>
                <span class="back" id="black" onclick="blackClicked()"></span>
                <span class="back" id="grey" onclick="greyClicked()"></span>
                <p id="backWord" class="word">Стиль</p>
            </span>

            <hr />

            <span id="stringLength" class="part">
                <span class="wrapper">
                    <span class="first">Кр</span>
                    <span class="second">Ср</span>
                    <span class="third">Дл</span>
                    <br>
                    <input type="range" name="stringLength" id="stringLengthForm" min="0" max="2" oninput="stringLengthChanged()">
                </span>
                <p id="lengthWord" class="word">Длина Строки</p>
            </span>

            <hr>

            <span id="fontSize" class="part">
                <span class="wrapper">
                    <span class="first">Мал</span>
                    <span class="second">Ср</span>
                    <span class="third">Бол</span>
                    <br>
                    <input type="range" name="fontSize" id="fontSizeForm" min="0" max="2" oninput="fontSizeChanged()">
                </span>
                <p id="sizeWord" class="word">Размер Букв</p>                    
            </span>

            <hr>

            <span id="stringWidth" class="part">
                <span class="wrapper">
                    <span class="first">Низ</span>
                    <span class="second">Ср</span>
                    <span class="third">Выс</span>
                    <br>
                    <input type="range" name="stringWidth" id="stringWidthForm" min="0" max="2" oninput="stringWidthChanged()">
                </span>
                <p id="widthWord" class="word">Высота строки</p>
            </span>
        </div>
    </div>
</main>