body {
    font-family: "Lato", sans-serif;
    background-color: #ddd;
}

#main {
    padding: 20px;
}

#main h2 {
    text-align: center;
}

#textplace {
    width: 60%;
    margin: auto;
    border: hidden;
}

#textplace pre {
    word-wrap: break-word; 
    word-break: keep-all;

}

@media screen and (max-height: 450px) {
    .sidebar { padding-top: 15px; }
    .sidebar a { font-size: 18px; }
}

/* Hoverable Sidenav */

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
    background-color: black;
}

i {
    color: steelblue;
}

#mySidenav a i {
    position: relative;
    left: 75px;
}

#mySidenav a:hover {
    left: -60px;
}

#read {
    top: 20px;
}

#upload {
    top: 80px;
}

#cogs {
    top: 140px;
}