<div id="mySidenav" class="sidenav">
    <a href="/read" id="read"><i class="fas fa-book-open"></i></a>
    <a href="/upload" id="upload"><i class="fas fa-upload"></i></a>
    <a href="/settings" id="cogs"><i class="fas fa-cogs"></i></a>
</div>